{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": -25.470979840924063,
    "longitude": -49.29928600788117,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "America/Sao_Paulo",
    "external_url": null,
    "internal_url": null,
    "currency": "BRL",
    "country": "BR",
    "language": "en"
  }
}