# File extensions
*.crt
*.csr
*.db-journal
*.fault
*.key
*.log
*.log.*
*.pid
*.py

# Logs
home-assistant.db
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-*
watchman_report.txt

# Hidden folders
.HA_VERSION
.cloud
.google.token 
.ssh/
.storage/core.restore_state
.vscode

# Folders
auth*
custom_components
deps
frontend.*
hacs*
http*
id_rsa*
image
lib
tts
www
zigbee.*
zone*

# Sensitive files
device_tracker.yaml
known_devices.yaml
secrets.yaml
ip_bans.yaml
.storage/core.config