.ssh/
id_rsa*


*.crt
*.csr
*.key
*.db-journal
*.pid
*.log
*.log.*
*.fault

deps
lib
www
tts

.storage
.cloud
.google.token 
secrets.yaml
ip_bans.yaml
device_tracker.yaml
known_devices.yaml
home-assistant.log
home-assistant.db
home-assistant_v2.db
home-assistant_v2.db-*
zigbee.*
.HA_VERSION
watchman_report.txt